# Windows image file caches
Thumbs.db
ehthumbs.db

project-files/dynamips/58bcb64c-04b6-430e-8e49-1af888d657d3/c3745_i3_ram
project-files/dynamips/dfe04fa2-331d-4ba3-b649-9ae9e6827b83/c3745_i2_ram 
project-files/dynamips/c669aeeb-90bf-4b4b-b2c5-652a80233a89/c3745_i1_ram

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
